@font-face {
    font-family: pokemon;
    src: url('../../public/fonts/Pokemon Solid.ttf');
}

body{
    font-family: sans-serif;
}

button{
    color:white}

a{text-decoration: none}

h1{color: white;
    font-family: pokemon;
    font-size: 3rem;
    letter-spacing: 2px;
}

.background{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 85%, rgba(0,212,255,1) 100%);
}

.cardBackground{
    background: radial-gradient(circle, rgba(255,255,255,1) 22%, rgba(249,209,160,1) 100%);
}

.cardHover:hover {opacity: 1}

.paginationSection{
    margin-right: 5.5rem;
}